<table>
    <thead>
        <img src ="<%= image_path('Nettle05.jpg')%>">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Body</th>
            <th>Author</th>
            <th><%= link_to 'New Article', new_article_path%></th>
        </tr>
    </thead>
    <tbody>
        <%= render "article" %>
    </tbody>
</table>