<table>
    <thead>
        <img src ="<%= image_path('Nettle05.jpg')%>">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Body</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <%= render "article" %>
    </tbody>
</table>
<button class ="border font-bold border-solid border-blue-400"> <%= link_to 'Users', users_path%> </button> 
<button class ="border font-bold border-solid border-blue-400"><%= link_to 'New Article', new_article_path%></button>