<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Body</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @article.id %></td>
            <td><%= @article.name %></td>
            <td><%= @article.body %></td>
            <td><%= @article.author %></td>
        </tr>
    </tbody>
</table>